$dark-grey: #333;
$med-grey: #999;
$light-grey: #ccc;

@import "pages/home.scss";

.home-page{
  background: white;
  color: $dark-grey;
  #header{
    float: left;
    ul{
      float: left;
      li{
        font-size: 20px;
        color: #000;
        ul li{
          font-size: 16px;
          color: #0ff;
        }
      }
    }
  }
}
